body{
    background-color: lightcyan;
}
.Questao{
    background-color: azure;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}
.Pergunta{
    font-size: 15pt;
}
.Resposta{
    border: none;
    display: inline-block;
    font-size: 15px;
    margin: 15px;
    margin-left: 0px;
}
.Resposta:hover{
    background-color: lightslategray;
}
ul.Rodape {
    position: fixed;
    margin: 0;
    padding: 0;
    bottom: 0;
    left:0;
    background-color: #AABBDD;
    list-style-type: none;
    width: 100%;
}
#Copyright{
    float:right;
    border-right: none;
}
.clear{
    clear: both;
}